.uy{
    color: blue;
    text-align: center;
}
.suv{
    background-color: yellow;
}
i{
    color: black;
    background-color: yellow;
}
b{
    background-color: black;
    color: white;
}



